{% extends 'sickgenes/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="p-5 mb-4 bg-light container rounded-3 mt-4">
    <div class="container-fluid text-center">
        <h1 class="display-5 fw-bold">{{ site_config.site_name }}</h1>
        <p class="fs-5 mt-5">{{ home_page_description|safe }}</p>
        
        <p class="mt-5">
            <a class="btn btn-primary btn-lg" href="{% url "sickgenes:identify_molecules" 'gene' %}" role="button">Search for genes</a>
        </p>
        
        <p class="mt-5">{{ study_count }} <a href="{% url 'sickgenes:study_list' %}">studies</a> saved and counting...</p>
        <p class="mt-3"><small>
            <a href="{% url 'sickgenes:database_dump_json_v2' %}" class="text-muted">Download full database (Gzipped JSON)</a>
        </small></p>
    </div>
</div>

{% endblock %}