{% extends 'sickgenes/base.html' %}
{% load admin_urls %}

{% block title %}{{ study.title }}{% endblock %}

{% block content %}

{# Study Metadata Section #}
<h3>{{ study.title }}</h3>
{% if study.authors %}
    <p><strong>Authors:</strong> {{ study.authors }}</p>
{% endif %}

<p>
    {% if study.first_journal_title %}
        <em>{{ study.first_journal_title }}</em>,
    {% endif %}
    {{ study.publication_date }}
    {% if study.preprint %}(Preprint){% endif %}
</p>

<p>
    {% if study.doi %}
        <a href="https://doi.org/{{ study.doi }}" target="_blank">View article</a>
    {% endif %}
    {% if study.s4me_url %}
        {% if study.doi %}|{% endif %} <a href="{{ study.s4me_url }}" target="_blank">Discussion on S4ME</a>
    {% endif %}
</p>

{% if request.user.is_staff %}
<p>
    <a href="{% url opts|admin_urlname:'change' study.pk %}" target="_blank">Edit on Admin page</a>
</p>
{% endif %}

<hr>

{# Cohorts and Findings Section #}
<h3>Cohorts in this study</h3>

{% if request.user.is_staff %}
<p><a href="{% url 'sickgenes:add_study_cohort' study.id %}">Add new cohort</a></p>
{% endif %}

<div>
    {% for study_cohort in study.study_cohorts.all %}
        <div style="margin-bottom: 2em;">
            <h5>
            Phenotype: 
                {% for disease_tag in study_cohort.disease_tags.all %}
                    {{ disease_tag }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </h5>

            {% with gene_findings=study_cohort.gene_findings.all|dictsort:"hgnc_gene.symbol" %}
                {% if gene_findings %}
                    <p>
                    {% for finding in gene_findings %}
                        <a href="{{ finding.hgnc_gene.get_absolute_url }}">{{ finding.hgnc_gene }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    </p>
                    <p><a href="{% url 'sickgenes:gene_list' %}?{{ study_cohort.gene_query_string }}">Search for these genes</a></p>
                {% endif %}
            {% endwith %}

            {% if request.user.is_staff %}
            <a href="{% url 'sickgenes:insert_findings' study_cohort.id 'gene' %}">Add genes to this cohort</a>
            {% endif %}

        </div>
        {% if not forloop.last %}<hr style="border-style: dotted;">{% endif %}
    {% empty %}
        <p><em>No cohorts have been added to this study yet.</em></p>
    {% endfor %}
</div>

<hr>

<h3>Notes</h3>
{% if study.note %}
{{ study.note|linebreaks }}
{% else %}
No notes yet.
{% endif %}

{% endblock %}