{% extends 'sickgenes/base.html' %}
{% load static %}
{% load responsive_table %}

{% block title %}Browse Studies{% endblock %}

{% block content %}

<form method="get" class="form-inline mb-4">
    <div class="form-group mr-2">
        <label for="{{ form.disease.id_for_label }}" class="mr-2">Filter by phenotype:</label>
        {{ form.disease }}
    </div>
    <button type="submit" class="btn btn-primary btn-sm">Filter</button>
</form>

{% responsive_table "studyTable" 'sickgenes:TableStudy' %}

<script src="{% static 'django_tables2_ajax/tables.js' %}" type="application/javascript"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById("studyTable_search").placeholder = "Search by title or author...";
    });
</script>
{% endblock %}