{% extends 'sickgenes/base.html' %}

{% block content %}

<p>Title: {{ study.title }}</p>
<p>DOI: {{ study.doi }}</p>

{% if study.publisher_url %}<p>Publisher URL: {{ study.publisher_url }}</p>{% endif %}
{% if study.s4me_url %}<p>S4ME URL: {{ study.s4me_url }}</p>{% endif %}
{% if study.preprint %}<p>Preprint</p>{% endif %}

<hr>
<h2>Cohorts in this study</h2>
<a href="{% url 'sickgenes:add_study_cohort' study.id %}">Add cohort</a>

<div>
    {% for study_cohort in study.study_cohorts.all %}
        <div><b>Disease: </b>
            {% for disease_tag in study_cohort.disease_tags.all %}
            {{ disease_tag }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>
        <div><b>Control: </b>
            {% for control_tag in study_cohort.control_tags.all %}
            {{ control_tag }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>

        <h3>Gene Findings</h3>
        {% for finding in study_cohort.gene_findings.all %}
            <p>{{ finding.hgnc_gene }}</p>
        {% empty %}
            <a href="{% url 'sickgenes:insert_findings' study_cohort.id 'gene' %}">Add findings</a>
        {% endfor %}

        <h3>Metabolite Findings</h3>
        {% for finding in study_cohort.metabolite_findings.all %}
            <p>{{ finding.hmdb_metabolite }}</p>
        {% empty %}
            <a href="{% url 'sickgenes:insert_findings' study_cohort.id 'metabolite' %}">Add findings</a>
        {% endfor %}


    {% endfor %}
</div>

{% endblock %}