{% extends 'sickgenes/base.html' %}

{% block title %}{{ study.title }}{% endblock %}

{% block content %}

{# Study Metadata Section #}
<h1>{{ study.title }}</h1>
{% if study.authors %}
    <p><strong>Authors:</strong> {{ study.authors }}</p>
{% endif %}

<p>
    {% if study.first_journal_title %}
        <em>{{ study.first_journal_title }}</em>,
    {% endif %}
    {{ study.publication_date }}
    {% if study.preprint %}(Preprint){% endif %}
</p>

<p>
    {% if study.doi %}
        <a href="https://doi.org/{{ study.doi }}" target="_blank">View article</a>
    {% endif %}
    {% if study.s4me_url %}
        {% if study.doi %}|{% endif %} <a href="{{ study.s4me_url }}" target="_blank">Discussion on S4ME</a>
    {% endif %}
</p>

<hr>

{# Cohorts and Findings Section #}
<h2>Cohorts in this study</h2>
<p><a href="{% url 'sickgenes:add_study_cohort' study.id %}">Add new cohort</a></p>

<div>
    {% for study_cohort in study.study_cohorts.all %}
        <div style="margin-bottom: 2em;">
            <h5>
            Disease: 
                {% for disease_tag in study_cohort.disease_tags.all %}
                    {{ disease_tag }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </h5>

            {% with gene_findings=study_cohort.gene_findings.all|dictsort:"hgnc_gene.symbol" %}
                {% if gene_findings %}
                    <p>
                    {% for finding in gene_findings %}
                        <a href="{{ finding.hgnc_gene.get_absolute_url }}">{{ finding.hgnc_gene }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    </p>
                {% endif %}
            {% endwith %}
            <a href="{% url 'sickgenes:insert_findings' study_cohort.id 'gene' %}">Add genes to this cohort</a>
        </div>
        {% if not forloop.last %}<hr style="border-style: dotted;">{% endif %}
    {% empty %}
        <p><em>No cohorts have been added to this study yet.</em></p>
    {% endfor %}
</div>

{% endblock %}